body {
    font-family: Arial, Helvetica, sans-serif;
}


.page {
    width: 100%;
    max-width: 1200px;
    min-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container1 {
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.container2 {
    width: 80%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    padding: 0px 5.25rem;
}
.right {
    display: flex;
    width: 35%;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-left: 10px;
}
@media (max-width: 900px) {
    .container2 {
        flex-direction: column;
    }
    .right {
        padding-top: 15px;
        width: 51%;
    }
}
.left {
    width: 53%;
    border: 1px solid rgb(233, 218, 218);
    border-radius: 12px;
    padding: 20px;
}

.step1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 0px;
    margin: 0px auto 15px;
    width: max-content;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.details {
    width: 100%;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.jss2 {
    background: rgb(255, 255, 255);
    border-radius: 12px;
}
.jss3 {
    width: 100%;
}
.p1 {
    margin: 1.25rem 0px 1.75rem;
    color: rgb(69, 79, 89);
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    font-size: 1.5rem;
}
.p6 {
    color: rgb(85, 90, 104);
    margin: 0px;
    font-size: 0.625rem;
    font-weight: 400;
}
.all_details {
    max-width: 320px;
}
.span {
    display: flex;
    font-weight: 500;
    font-size: 11px;
    color: rgb(21, 22, 25);
}
.jss1 {
    display: inline-flex;
    height: 20px;
    width: 20px;
    color: rgb(255, 255, 255);
    background: rgb(62, 183, 83);
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 50%;
}
.js2, .js3 {
    background: rgb(214, 217, 224);
}
.p2 {
    padding-top: 0%;
    margin-top: 10%;
}
.name {
    position: relative;
    margin-top: 1.875rem;
    width: 100%;
}
.input {
    border: 1px solid rgb(214, 217, 224);
    border-radius: 8px;
    padding: 1.18em 3em 1.18em 1.18em;
    font-size: 0.875rem;
    width: 80%;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    height: 20px;
}
.p3 {
    margin: 0px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 15px;
    letter-spacing: 0.04em;
    display: inline-block;
    background-color: white;
    padding: 0px 5px;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0.8em, -0.6em);
    color: rgb(21, 22, 25);
}
.requirement {
    width: 100%;
    margin-top: 1.85rem;
    padding-top: 1.25rem;
    display: flex;
}
.p4 {
    line-height: 141.1%;
    text-align: left;
    color: rgb(93, 96, 124);
    margin: 0px;
    font-size: 0.75rem;
    font-weight: 400;
}
.conditions {
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1.5rem;
}
.p5 {
    margin: 0px 0px 1.85rem;
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 141.1%;
    color: rgb(93, 96, 124);
    text-align: center;
}
.button1 {
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 1em 3em;
    font-size: 0.875rem;
    background-color: rgb(15, 164, 87);
    border: 1.5px solid rgb(15, 164, 87);
    color: rgb(255, 255, 255);
    margin: 0px auto;
    cursor: pointer;
}
.bike {
    background: rgb(238, 238, 238);
}
.review {
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 1.65rem;
    display: flex;
}
.review img {
    height: 30px;
    padding-right: 15px;
}
.jss31 {
    width: 100%;
    border: 1px solid rgb(228, 234, 241);
    border-radius: 6px;
    padding: 1.875rem 1.125rem;
    background: rgb(246, 247, 251);
}
.plan {
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.p7 {
    margin: 0px;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(21, 22, 25);
}
.p8 {
    margin: 0.5rem 0px 0px;
    font-weight: 400;
    font-size: 0.75rem;
    color: rgb(65, 74, 83);
}
.overview {
    width: 100%;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 1rem 0px;
    margin: 1rem 0px;
}
.p11 {
    width: 100%;
    margin: 0px 0px 2rem;
}
.p11a {
    margin: 0px;
    font-weight: 600;
    font-size: x-large;
    line-height: 29px;
    text-align: center;
    color: rgb(21, 22, 25);
}
.p12 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    font-weight: 550;
    font-size: 1rem;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
}
.bike_detail {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.jss4a {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto 10rem;
    width: 80%;
}
.jss6a {
    width: 100%;
}
.jss61 {
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin: 1.25rem 0px 0px;
}
.p13 {
    margin: 0px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 15px;
    color: rgb(85, 90, 104);
}
.p14 {
    margin: 0px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 15px;
    color: rgb(21, 22, 25);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}
.jss6 {
    width: 100%;
    border: 1px solid rgb(244, 245, 247);
    margin-top: 2rem;
}
.jss7 {
    width: 100%;
    margin-top: 2.5rem;
}
.jss8 {
    width: 100%;
    margin-top: 1.75rem;
}
.jss9 {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2rem;
}
.jss91 {
    display: flex;
    width: fit-content;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 1rem;
    font-family: inherit;
}
.jss9 img {
    width: 20px;
    fill: none;
}
.checkbox {
    width: 15px;
    height: 15px;
    margin-right: 12px;
    cursor: pointer;
}
.pay {
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(15, 164, 87);
    border: 1.5px solid rgb(15, 164, 87);
    color: rgb(255, 255, 255);
    min-width: 155px;
    margin: 30px 0px;
    font-size: 16px;
    padding: 14px 16px;
}
.jss10 {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.jss101 img {
    width: 18px;
    padding-right: 6px;
}
.jss101 {
   
    display: flex;
    width: fit-content;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px 20px;
}
.p16 {
    font-size: small;
}
.p17 {
    font-weight: 500;
    font-size: 9px;
    color: rgb(67, 79, 90);
}
.jssa {
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}
.p18 {
    margin: 0px;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 17px;
    color: rgb(67, 68, 71);
}
.value {
    margin: 0px;
    font-weight: 490;
    font-size: .95rem;
    line-height: 17px;
    color: rgb(21, 22, 25);
}
.total p {
    margin: 0px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;
    color: rgb(21, 22, 25);
}
.pp1 {
    transition: 0ms all;
    width: calc(100% - 15px );
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 15px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% - 15px );
    flex: 1;
    flex-basis: auto;
}
.jsb1 img {
    margin: 0;
    padding: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    transition: 0ms all;
    width: auto;
    height: auto;
    width: 24px;
    height: 24px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 6px;
    flex: none;
}
.jsb1 {
    transition: 0ms all;
    width: auto;
    height: auto;
    width: calc(100% - 20px );
    height: 46px;
    padding: 8px 8px 8px 16px;
    margin: 10px 10px 10px 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #F4F5F7;
    border-radius: 6px;
    opacity: 1;
    pointer-events: auto;
    border-left: 0px solid #4F34D2;
    user-select: none;
    flex: none;
}
.jsb2, .jsb3, .jsb4 {
    background: #FFFFFF;
}
.jsa3b1 {
    height: 100%;
    max-width: 264px;
    padding: 6px 0px 0px 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #D5D5D5;
    flex: none;
}
.jsa3b {
    width: 100%;
}
.jsa3c1 {
    height: auto;
    width: 100%;
    padding: 0px 48px 24px 48px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.pp2 {
    padding: 0px;
    font-size: 18px;
    color: #151619;
    opacity: 1;
    font-weight: 700;
    flex-basis: auto;
    margin-top: 0%;
    margin-bottom: 1%;
}
.pp3 {
    width: 100%;
    font-size: 13px;
    color: #999999;
    font-weight: 400;
    align-items: center;
    display: flex;
}
.qr {
    width: calc(100% - 0px );
    height: 46px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    background: #5E27C9;
    border-radius: 6px;
    opacity: 1;
    border: 0px solid #ffffff;
    user-select: none;
}
.pp7 {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.input5 {
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #7C47E1;
    padding-left: 10px;
}
.pp4 {
    width: calc(100% - 0px );
    margin: 8px 0px 8px 0px;
    font-size: 14px;
    color: #999999;
    font-weight: 500;
    flex: none;
}
.pp5 {
    width: calc(100% - 0px );
    margin: 8px 0px 8px 0px;
    font-size: 12px;
    color: #909090;
    font-weight: 400;
    flex: none;
}
.pay_now {
    width: calc(100% - 0px );
    height: 46px;
    max-width: -1px;
    margin: 20px 0px 0px 0px;
    background: #d6d9e0;
    border-radius: 6px;
    opacity: 1;
    border: 0px solid #ffffff;
    cursor: pointer;
}
.jsa3a {
    display: flex;
    flex-direction: row;
    width: auto;
}
.jsa2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 900px;
}
.back {
    margin: 20px;
    margin-left: 20%;
    font-weight: 600;
}
.total3 {
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    font-size: medium;
    font-weight: 400;
}
.bill {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    width: 100%;
}
.p28, .net_premium3, .value3 {
    margin: 0%;
    font-size: 12px;
}
.jsa4 {
    display: flex;
    flex-direction: column;
    max-width: 210px;
    width: 100%;
}
.jsa4a {
    align-self: flex-start;
    -webkit-animation: delayAnimate 0s 1s forwards;
    animation: delayAnimate 0s 1s forwards;
    background-color: #f4f5f7;
    border-radius: 15px;
    flex-direction: column;
    margin-top: 3vh;
    padding: 20px 15px;
    width: 100%;
}
.p26 {
    color: #151619;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 10px;
}
.p27 {
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 20px;
    color: #151619;
    font-family: Inter,sans-serif;
}
.bill_data {
    border-top: 1px solid #fff;
    padding: 20px 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.jsa3c {
    width: 160%;
}
.image9 {
    width: 100px;
}
