.footerBox {
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
}

.footerBox a {
    color: black;
    text-decoration: none;
}

.appStore img {
    height: 50px;
}

.social a {
    margin: 10px;
}

.vl {
    border-left: 1px solid rgba(184, 184, 228, 0.755);
    height: 680px;
    margin-left: 20px;
    margin-top: 15px;
}

.rightPartfooter {
    display: inline;
}

.horizontalOne {
    display: flex;
}

.hori {
    margin: 5%;
}

.horizontalTwo {
    display: flex;
    margin-bottom: 50px;
}

.company {
    margin-left: 50px;
    font-size: small;
    line-height: 25px;
}

.support {
    margin-left: 100px;
    font-size: small;
    line-height: 25px;
}

.legal {
    margin-left: 120px;
    font-size: small;
    line-height: 25px;
}

.carInsure {
    margin-left: 50px;
    font-size: small;
    line-height: 25px;
}

.bikeInsure {
    margin-left: 70px;
    font-size: small;
    line-height: 25px;
}

.healthInsure {
    margin-left: 20px;
    font-size: small;
    line-height: 25px;
}

.lowermostFooter {
    width: 100%;
    background: rgb(246, 247, 251);
    font-size: 12px;
    padding-top: 20px;
}

.lowermostFooter span {
    margin-left: 170px;
    font-weight: 500;
}

.lowermostFooter p {
    margin-left: 170px;
    color: rgb(29, 29, 87);
}
